{% extends 'base.html' %}

{% block title %}Blog-home{% endblock title %}
{% block js %}
<script>
let previews =document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
    element.innerHTML =element.innerText;
})
</script>
{% endblock js %}

{% block body %}
<div class="container my-3">
    <h2>Ariticles by twins</h2>
    {% for post in allPosts %}
    <div class="card">
        <h7 class="card-header">Article by {{post.author}} ({{post.views}} views)</h7>
        <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text"><div class="preview">{{post.content|safe|truncatechars:300 }}</div></p>
            <a href="/blog/{{post.slug}}" class="btn btn-primary">Continue reading</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock body %}
